<div class="active-peer-site">
    <a href="{{url}}" target="_blank">
    <span class="url-name">{{url}}</span>
        <div class="frame-wrapper">
          <img height="30" width="30" src='//g.etfv.co/{{url}}' />
          {{!-- <img height="100" width="100" src='http://getfavicon.appspot.com/{{url}}' /> --}}
        </div>
    </a>
    <span class="active-count">Active: {{peer_count}}</span>
</div>